.login-page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* background: linear-gradient(
        106.37deg,
        #f3c6f1 90.85%,
        #ffcfd1 51.55%,
        #ffe1bc 29.63%,
      ); */
    width: 400px;
    aspect-ratio: 1;
    border-radius: 10px;
    padding: 60px 80px;
}

.login-page::before {
    position: absolute;
    content: "";
    height: calc(100% - 30px);
    width: calc(100% - 60px);
    background-color: rgba(255, 255, 255, 0.54);
    border-radius: 30px;
}

.login-page header {
    position: absolute;
    top: 10px;
    display: flex;
    align-items: center;
}

.login-page header span {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.534);
}

.login-page header span i {
    background: linear-gradient(90deg, #ff009d, #09b4c7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* .logo {
    position: relative;
    width: 100px;
} */

.login-page .title {
    position: relative;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(90deg, #00CB2C, #ffbf00ec);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.login-page form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 30px;
}
.login-page form .custName,
.login-page form .email,
.login-page form .phoneNo,
.login-page form .addr,
.login-page form .city,
.login-page form .district,
.login-page form .currentStatus {
    color: black;
    position: relative;
}

.login-page form input {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 20px 10px 3px;
    border-bottom: 1px solid #00CB2C;
    color: black;
}

.login-page form input:focus {
    outline: none;
}

.login-page form label {
    position: absolute;
    font-size: 13px;
    top: 18px;
    left: 3px;
    color: rgba(2, 2, 2, 0.548);
    transition: 0.2s ease;
}

.login-page form input:focus ~ label,
.login-page form input:valid ~ label {
    top: 0;
    color: #00CB2C;
}

/* .status {
    width: 50px;
    margin: 5px auto;
    scale: 0;
    animation: show 0.5s ease forwards;
} */

.error {
    color: red;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
}

.login-page form button {
    background-color: #00CB2C;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    color: white;
    padding: 10px;
    cursor: pointer;
}

button:active {
    scale: 0.98;
}

.user-stat {
    font-size: 14px;
    margin: 0 auto;
}

.user-stat b {
    /* color: #00CB2C; */
    color: white;
    cursor: pointer;
}

.popup {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
    padding: 10px;
    width: 200px;
    height: 100px;
    border: 1px solid #ccc;
    z-index: 1000;
  }
  
  .popup p {
    margin: 0;
    padding: 0;
  }